body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 350px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
    border: 1px solid rgb(177, 76, 76);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #e60000;
}

.label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding-left: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.input::placeholder {
    color: #ddd;
}

.input:focus {
    background: rgba(255, 255, 255, 0.2);
}

.button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #e60000;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #cc0000;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.result {
    margin-top: 20px;
    font-size: 18px;
    color: #e60000;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.result::after {
    content: '|';
    display: inline-block;
    animation: blink 1s infinite;
}

.pagina {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.pagina.active {
    display: block;
    opacity: 1;
}

.home-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.home-icon:hover {
    transform: scale(1.2);
    color: #e60000;
}

.logo-container {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.logo {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(154,6,6,1) 100%, rgba(0,0,0,1) 100%);
    background-size: 200% 200%;
    z-index: -1;
    animation: gradientMovement 10s ease infinite, fadeInOut 5s ease-in-out infinite;
}

footer{
    position: absolute;
    bottom: 10px;
}